aiofiles==0.6.0
alembic==1.3.0 
appdirs==1.4.3
bcrypt==3.2.0
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
distlib==0.3.0
distro==1.4.0
dnspython==2.1.0
emails==0.6
email-validator==1.1.2
eralchemy==1.2.10
fastapi==0.68.0
h11==0.11.0
html5lib==1.0.1
httptools==0.1.1
idna==2.8
ipaddr==2.2.0
python-jose==3.2.0
lockfile==0.12.2
Mako==1.1.3
MarkupSafe==1.1.1
msgpack==0.6.2
numpy==1.21.1
packaging==20.3
pandas==1.3.1
pep517==0.8.2
progress==1.5
psycopg2-binary==2.8.6
pycparser==2.20
pydantic==1.8.2
pyparsing==2.4.6
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
pytoml==0.1.21
pytz==2021.1
PyYAML==5.3.1
requests==2.22.0
retrying==1.3.3
six==1.14.0
SQLAlchemy==1.3.16 
tenacity==5.1.5 
urllib3==1.25.8
uvicorn==0.14.0
uvloop==0.14.0
webencodings==0.5.1
websockets==8.1
passlib[bcrypt]==1.7.1
pyjwt==1.7.1
python-multipart==0.0.5
xlwt==1.3.0
xlrd==2.0.1
openpyxl==3.0.9
